{% extends 'base/layout.html.twig' %}



{% block title %}Log in!
{% endblock %}

{% block content %}
	<form method="post" class="max-w-md mx-auto mt-10 p-6 bg-white rounded-xl shadow-md space-y-6">
		{% if error %}
			
		{% endif %}

		{% if app.user %}
			<div class="text-sm text-gray-700">
				You are logged in as
				<strong>{{ app.user.userIdentifier }}</strong>,
				<a href="{{ path('app_logout') }}" class="text-blue-500 hover:underline">Logout</a>
			</div>
		{% endif %}

		<h1 class="text-2xl font-semibold text-center">Please sign in</h1>

		<div>
			<label for="inputEmail" class="block text-sm font-medium text-gray-700">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300">
		</div>

		<div>
			<label for="inputPassword" class="block text-sm font-medium text-gray-700">Password</label>
			<input type="password" name="password" id="inputPassword" autocomplete="current-password" required class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300">
		</div>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<div class="flex items-center">
			<input id="remember_me" name="_remember_me" type="checkbox" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
			<label for="remember_me" class="ml-2 block text-sm text-gray-900">
				Remember me
			</label>
		</div>

		<div>
			<button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
				Sign in
			</button>
		</div>
	</form>
{% endblock %}
