{% extends 'template.html.twig' %}

{% block main %}
	{% include "base/components/_header.html.twig" %}

	<main class="w-full min-h-screen pt-16 bg-slate-100 max-w-3xl mx-auto mt-10">
		{% block content %}{% endblock %}
	</main>

{% endblock %}
