{% extends 'base.html.twig' %}


{% block body %}

	{% block main %}{% endblock %}

	<footer class="bg-slate-900 text-gray-400 w-full text-center p-1">
		<p class="text-sm font-semibold">Copyright 2025 | MentorAPP</p>
	</footer>

{% endblock %}